
.container {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  display: flex;
  gap: 30px;
  align-items: center;
}

.contents {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 25vw;
}

.popup {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.comments {
  color: rgb(8, 10, 14);
  outline: 0;
  border: solid 1px rgba(92, 168, 240, 0.8);
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
